.patient-list-wrapper {
    height: 100%;
    width: 98%;
    // float: left;
    margin-left: 40px;
    // padding: 30px;
    .search-container {
        height: 50px;
        width: 100%;
        float: left;
        // padding-left: 20px;
        background-color: rgb(230, 227, 227);
        display: flex;
        // justify-content: space-between;
        align-items: center;
        
        .patient-title {
            font-size: 26px;
            padding: 222px;
            font-weight: 500;
        }
        // .topbar{
        //     float: left;
        // }
        h3{
            padding-left: 105px;
        }
     
        .search-sort {
           display: flex;
           align-items: center;
           width: 55%;
        
           .search {
            
               .search-icon {
                color: #141d25;
               }
               
               width: 140%;
               float: left;
           }
           .sort-label {
               margin-left: 20px;
               width: 102px;
               font-weight: 600;
               font-size: larger;
           }
        }
    }
    select{
        width: 50%;
        height: 33px ;
        border-radius: 10px;
    }
    .patient-list-container {
        height: calc(100% - 50px);
        // height: 580px;
        width: 100%;
        background-color: rgb(230, 227, 227);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .patient {
            margin: 10px;
        }
        overflow: auto;
    }
    .patient-card-wrapper {
        width: 250px;
        height: 120px;
        background-color: white;
        display: flex;
        flex-direction: column;
        color: gray;
        position: relative;
        border-radius: 20px;
        cursor: pointer;
        .patient-details {
            display: flex;
            height: 250px;
            // width: 50px;
            align-items: center;
            
            // border-radius: 9px;
            .patient-img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                //padding: 6px;
                margin-left: 6px;
                margin-right: 20px;
            }
            .patient-name {
                font-size: 16px;
                font-weight: bold;
                color: black;
                opacity: .8;
                padding-bottom: 8px;
            }
            .patient-location {
                font-size: 12px;
                padding-bottom: 8px;
            }
            .patient-mobile {
                font-size: 12px;
                padding-bottom: 8px;
            }
        }
    //   #basic-addon1{
    //     width: 30%;
    //   }
        .patient-edit-icon {
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 10px;
        }
        .patient-action-icons-wrapper {
            display: flex;
            justify-content: space-evenly;
            padding: 6px;
            padding-top: 10px;
            border-top: 1px solid rgb(238, 238, 238);
            .patient-action-icon {
                font-size: 12px;
            }
        }
    }
}

.sidebar{
         
    width: 3%;
    height: 100%;
    
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#18385c;
    padding-top: 15px;
    // margin-top: 44px;
   }
  .sidebar a{
       margin: 3px 5px 5px 3px;
       text-decoration: none;
       color: white;
       display: block;
   }
  .sidebar a:hover
  {
       color: rgb(76, 71, 71);
       border-color: #dddddd !important;
  }

