
  .no-outline {
    outline: none;
    border: none;
    width: 200%;
  }
  .buttonclass
  {
      background-color: rgb(7, 11, 66);
      color: white;
      border: none;
      margin-top: 15px;
      border-radius: 2px;
      
  }
  .test-class
  {
    font-size: large;
  }

  .outline {

    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 450%;

  }
  
  
  
